<app-button-create [label]="'Créer un nouvel AAR'" (createEvent)="onCreateNewAar()"></app-button-create>
<table>
  <thead>
  <tr>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Date de création</th>
    <th>Nombre d'articles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let aar of aars">
    <td>{{ aar.title }}</td>
    <td>{{ aar.username }}</td>
    <td>{{ aar.created_at | date: 'dd MMMM yyyy' }}</td>
    <td>{{ aar.article_count }}</td>
    <td><a [routerLink]="['/aar', aar.slug]">Voir</a></td>
    <td>
      <!-- Button to delete the AAR -->
      <button (click)="confirmDeleteAar(aar.slug)" class="delete-button">
        🗑️ Effacer
      </button>
  </tr>
  </tbody>
</table>
