<div *ngIf="aarDetails">
  <h1>{{ aarDetails.title }}</h1>
  <p><strong>Description:</strong> {{ aarDetails.description }}</p>
  <p><strong>Texte:</strong> {{ aarDetails.text }}</p>
  <p><strong>Auteur:</strong> {{ aarDetails.author_name }}</p>
  <p><strong>Date de création:</strong> {{ aarDetails.created_at | date: 'dd MMMM yyyy' }}</p>
  <p><strong>Dernière modification:</strong> {{ aarDetails.last_modified | date: 'dd MMMM yyyy' }}</p>

  <h2>Articles associés</h2>
  <ul>
    <li *ngFor="let article of aarDetails.articles">
      <h3><a [routerLink]="['/aar/article', article.slug]">{{ article.title }}</a></h3>
      <p>{{ article.description }}</p>
      <p><strong>Date:</strong> {{ article.created_at | date: 'dd MMMM yyyy' }}</p>
    </li>
  </ul>
</div>
